<!DOCTYPE html>
<head>
    <title>Flask-Dance Google SQLAlchemy</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
  You are logged in as {{ current_user.email }}!
    {% for course in courses %}
    <p>{{ course.name }} {{ course.id }} {{ current_user.id }}</p>
    <form action="course/save" method="post">
        <input name="course_id" id="course" type="hidden" value="{{ course.id }}">
        <input name="user_id" id="user" type="hidden" value="{{ current_user.id }}">
        <input type="submit" value="Save">
    </form>
    {% endfor %}
  <a href="{{ url_for("logout") }}">Log out</a>
{% else %}
  You are not logged in.
  <a href="{{ url_for("google.login") }}">Log in</a>
{% endif %}
</body>
